#components-layout-demo-custom-trigger .trigger {
    padding: 0 20px;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 5px;
    margin: 5px;
    background: #fff;
  }
  .site-layout{
    /* background-color: #fff; */
    text-align: center;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
    
  }

.ant-layout-has-sider{
  padding:5px;
}

.ant-layout.ant-layout-has-sider{
  height: 100vh;

}
.ant-layout-sider{
  border-radius: 10px;
  padding: 5px;

}
.anticon svg{
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}